langchain==0.1.11
langchain-community==0.0.27
langchain-core==0.1.30
langchain-openai==0.0.8
langchain-text-splitters==0.0.1
openai==1.13.3

faiss-cpu==1.7.4
requests
Pillow

streamlit==1.32.0
streamlit_chat
pypdf
PyPDF2==3.0.1